mixin new(src, timeDay, timePost, timeComent, title, content)
  .row
    .col-sm-6
      img(src=src, alt="")
    .col-sm-6
      .new__time
        span #{timeDay}
        span Đăng bởi #{timePost}
        span #{timeComent} Coments
      .new__content
        h3
          a(href="") #{title}
        p #{content}
      .new__viewmore
        a Xem thêm 
          i.fa.fa-angle-right(aria-hidden="true")